::-webkit-scrollbar{width:5px;height:9px}::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent}::-webkit-scrollbar-track-piece{background-color:#fafafa;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px}::-webkit-scrollbar-thumb:vertical{height:50px;background-color:rgba(100,100,100,0.5);-webkit-border-radius:8px}::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:rgba(100,100,100,0.5);-webkit-border-radius:8px}.header{background-color:#000;margin:auto;height:12%;margin-top:0;padding-top:0;box-shadow:2px 2px 2px #555}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:0;background-image:url('crossword.png');overflow-x:hidden;}.search{margin:auto;margin-top:15em;width:70%}#text-box{margin:0;padding:0;width:82%;height:2.4em;border:2px solid rgba(71,125,158,0.9);padding-left:2em;border-top-left-radius:2px;border-bottom-left-radius:2px;border-right:0}#sub-button{border-top-right-radius:2px;border-bottom-right-radius:2px;border:1px solid rgba(68,85,77,0.9);background-color:rgba(164,182,174,0.9);margin:0;height:2.4em;padding:0;width:18%}#sub-button:hover{background-color:rgba(156,171,201,0.9)}#footer{background-color:#dddbf0;position:absolute;bottom:0;margin-bottom:0;padding-bottom:0;height:3em;width:100%}#under_search{color:#777;width:69%;margin-left:auto;margin-right:auto}#results{display:none;background-color:#fff;height:auto;width:70%;margin:auto;margin-top:5;overflow-y:scroll;height:3em}#both{width:100%;padding-top:5px}#both div{display:inline-block;margin-bottom:10px;}#social{width:48%;margin:0;border-left:1px solid black;padding-left:1em;float:right;clear:none;}#financial{padding-left:2px;margin:0;float:left;clear:none;width:48%;}#info{padding-left:2px}

#categories {
  display: none;
}

#searchByCategory {
  color: #777;
  text-decoration: none;
}

#categoriesContainer {
  margin-left: auto;
  margin-right: auto;
  width: 69%;
}

.header {
  color: white;
  padding-top: 0.15em;
  text-align: center;
}

#footer {
  padding-left: 15.5%;
  padding-top: 1em;
}

.stocksChart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#disqus_thread {
  margin-bottom: 2em;
}
